:root {
  --maincolor: #c27e29;
  --subcolor: #d91f25;
  --textcolor:#333;
  --subcolortext: #7e7e7e;
  --fontmain: Montserrat;
  --fontEB: Montserrat-EX;
  --fontB: Montserrat-B;
}
*{
  margin: 0px;
  padding: 0px;
}
html,
body {
  font-family: var(--fontmain);
  
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  line-height: 1.4;
  color: #303030;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  font-family: var(--fontB);
}

a {
  text-decoration: none;
  color: currentColor;
}

b,
strong {
  
  font-family: var(--fontB);
  
}

img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
}

a img {
  display: block;
}

#page {
  background: #fff;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.c,
.c5,
.c10,
.c15,
.c20,
.c30,
.c3,
.c2,
.c80 {
  clear: both;
}

.c {
  height: 0px;
}

.c3 {
  height: 3px;
}

.c4 {
  height: 4px;
}

.c5 {
  height: 5px;
}

.c10 {
  height: 10px;
}

.c15 {
  height: 15px;
}

.c20 {
  height: 20px;
}

.c30 {
  height: 30px;
}

.c50 {
  height: 50px;
}
.text-line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.text-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.text-line-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.text-line-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.text-line-6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.text-line-7 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.text-line-8 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.text-line-10 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.text-line-12 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
}


.search-pc {
  display: block;

  margin-left: 10px;
}



.submit-search-pc {
  
  background-color: var(--maincolor);
  padding: 10px 20px;
  border: 0px;
  height: 50px;
  line-height: 33px;
  color: #FFF;
  text-transform: uppercase;
  font-family: var(--fontB);
  letter-spacing: 1px;

}

.icon-search {
  margin-left: 30px;
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--maincolor);
  text-align: center;
  line-height: 45px;

}
.search-pc
{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 11;  
  transition: all .5s ease-in-out;
  display: none;


}
.closeX
{
  color: #FFF;
  position: absolute;
  top: 10px;
  right: 20px;
  
}
.search-pc .kw {
  width: 100%;
  height: 35px;
  border: solid 1px #CCC;
  padding: 0px 10px;
  outline: none;
  float: left;
  color: rgba(0, 0, 0, 0.25);

  border-radius: 25px;
  background: #FFF;
}
.search-pc ::placeholder
{
  color: rgba(0, 0, 0, 0.25);
}

#searchformtab
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40vh;
}

#searchformtab input{

  color: #0a0a0a;
  padding: 10px 25px 10px 30px;
  height: 50px;
  max-width: 500px;
  width: 100%;
  border-radius: 0px;
  font-size: 20px;
  border:1px solid #FFF;
  background-color: #FFF;
  outline: none;
}
.search-icon{
  color: #FFF;
}
.search-mobile {
  width: 100%;
  position: relative;
  display: none;
}

.search-mobile input {
  width: 100%;
  height: 30px;
}

.m-search-icon {
  position: absolute;
  right: 10px;
  top: 6px;
  color: #ef5994;
}

.logo {
      float: left;
    padding: 15px 0;
    width: 100%;
}

.logo img,
.logo-mobile img {
  display: block;
}

.logo-mobile {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.menubar {

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.nav {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav>li {
  list-style: none;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  height: 65px;
  position: relative;
  line-height: 65px;
  margin: 0px 2px;
}
.nav li:first-child {
  border-left: none;
}


.nav>li>a {
  text-decoration: none;
  font-family: var(--fontB);
  display: inherit;
  padding: 0px;
  padding: 0 8px;
  text-align: center;
  transition:all .5s ease-in-out
}
.nav li ul.mega-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  list-style-type: none;
  text-align: left;
  color: #0a0a0a;
  padding: 15px 0px;
  z-index: 9;
  display: none;
  max-width: 100%;
  transform: translate(-50%, 0px);
  font-weight: normal;
  background: #FFF;
  text-transform: initial;
  border-radius: 5px;
  opacity: 0;
  transition: all .5s ease-in-out;
  box-shadow: 0px 0px 10px #9d9d9d;
  z-index: 2;
}
 .mega-menu::before{
  content: "";
  width: 15px;
  height: 15px;
  background-color: #FFF;
  position: absolute;
  left: 50%;
  z-index: 1;
  top: -7px;
  transform: rotate(45deg);
} 
.nav li:hover .mega-menu{
 display: block;
 opacity: 1;
}
.mega-menu
{
  min-width: 18vw
}
.megamenu-about
{
  min-width: 30vw;
}
 .mega-menu-item {
  border-right: 1px solid #f1f2f2;
 }
.megamenu-about .mega-menu-item 
{
  min-width: 50%;
}
.mega-menu.megamenu-tour
{
  min-width: 40vw;
}
.megamenu-tour .mega-menu-item {
  width: auto;
  max-width: 40%;
  
}
.megamenu-about .mega-menu-item 
{
  max-width: 50%;
}
.mega-menu-item:nth-last-child(1)
{
  border-right: none;
}
.megasubmenu-item a{
  color: #757575;
}
.mega-menu-item a{
  padding: 10px;
  
}

.megamenu-tour .mega-menu-item:nth-child(1)
{
  max-width: 20%;
}
.mega-menu-item li:hover a{
  background-color: #f1f2f2;
}

.nav li ul>li {
  width: 100%;
  list-style: none;
  float: left;
  text-align: left;
  border: none !important;
  text-transform: initial;
  line-height: normal;
  position: relative;
}
.mega-menu-item a
{
  padding: 10px 15px;
  min-width: 100%;
  display: inline-flex;
}
.megamenu-item-link
{
  font-family: var(--fontB);
  text-transform: uppercase;
}
.megamenu-item-link:hover
{
  background-color: #f1f2f2;
 
}
.mega-menu-item {

  padding: 0px;
  left: 0px;
  /* margin: auto; */
  line-height: 1;
}

.nav li ul>li a {
  padding: 10px 15px;
  display: block;
  color: #5a5a5a;
  line-height: 18px;
  text-transform: initial;
}
.booktour {
  margin-left: 20px;
}
.booktour a{
  padding: 10px 25px;
  text-transform: uppercase;
  font-family:var(--fontB);
  background-color: var(--maincolor);
  color: #FFF;
  border-radius: 25px;
}
/* .nav {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav>li {
  list-style: none;
  display: inline-block;
  position: relative;
  float: left;
  font-size: 16px;
  font-weight: normal;
  height: 65px;
  line-height: 65px;
  margin: 0px 2px;
}

.nav li:first-child {
  border-left: none;
}

.nav li:last-child {
  margin-right: 0;
}

.nav li:last-child a {
  padding-right: 0;
}

.nav>li>a {
  text-decoration: none;
  color: #404040;
  display: inherit;
  padding: 0px;
  padding: 0 8px;
  font-size: 17px;
  font-family: var(--fontmain);
  
  text-align: center;
  position: relative;
  text-transform: uppercase;
  transition:all .5s ease-in-out
}
.nav>li>a:hover{
  color:var(--maincolor);
}
.nav>li:hover>a::before{
  width: 90%;
 
}
.nav>li.active>a::before{
  width: 90%;
  
}
.nav>li.active a
{
	 color:var(--maincolor);
}

.nav>li>a img {
  margin-right: 8px;
}

.nav li ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 250px;
  text-align: left;
  color: #0a0a0a;
  padding: 0px;
  
  z-index: 9;
  display: none;
  font-weight: normal;
  background: #FFF;
  text-transform: initial;
  border-radius: 5px;
  border-top: 3px solid var(--subcolor);
}

.nav li ul>li {
  width: 100%;
  list-style: none;
  float: left;
  text-align: left;
  border: none !important;
  text-transform: initial;
  line-height: normal;
  position: relative;
}

.nav li ul>li a {
  padding: 0px 10px;
  display: block;
  color: #232323;
  line-height: 18px;
  text-transform: initial;
  padding: 11px 10px;
  

}

.nav>li>ul>li>a:hover {
  color:#333!important;
}

.nav li ul ul {
  left: 100%;
  top: -1px;
}
 */

.mobile-bar {
  background-color: #fff;
  width: 100%;
  padding: 3px;
}

.lang-flag {
  float: right;
  /* margin-top: 2px; */
  border: none;
  margin-left: 15px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.burger
{
	width:60px;
	float:right;
}
.burger div {
    width: 40px;
    height: 3px;
    margin-bottom: 10px;
    background: var(--maincolor);
	float:right;
}
.crumb {
	background:#f1f2f2;

  padding: 5px 0px;
  font-size: 12px;


}

.crumb-gray .crumb {
  background-color: #f5f5f5;
}

.crumb a {
  font-size: 14px;
  line-height: 24px;
  color:var(--maincolor);
  

  text-align: center;
}

.crumb a:first-child {
  padding-left: 0;
}

.crumb a:last-of-type {
font-family: var(--fontB);
  padding-left: 10px;
  
} 


/*  */

.menuleft {
  padding: 0px;
  margin: 0px;
  color: #58595b;

}
.menuleft .title{
  background: var(--subcolor);
  color: #FFF;
  padding: 10px 15px;
  font-size: 17px;
 font-family: var(--fontmain);

 
}
.menuleft .fa {
  font-size: 10px; float: right;
}

.menuleft ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.menuleft li {
  list-style: none;
  margin: 0px;
  padding: 0px;

}

.menuleft li:last-child {
  border-bottom: none;
}

.menuleft li a:hover {
  color: var(--subcolor);
}

.menuleft li a {
  color: #0a0a0a;

  width: 100%;
  display: block;
  padding: 5px 0px;
  font-size: 15px;
 font-family: var(--fontmain);

}

.menuleft>.actived {
  background: #eee;
}

.menuleft>.actived>a {
  color: #0a0a0a;
  font-family: var(--fontmain);
}

.menuleft .actived ul {
  background: #eee;
  display: block;
}

.menuleft .actived .actived a {
  color: #244294;
}

.menuleft li ul {
  margin: 0px;
  padding: 0px;
  padding-left: 35px;
  background: #eee;
  display: none;
}

.menuleft li ul li {
  padding-left: 0px;
  list-style-type: square;
}

.menuleft li ul li a {
  border-bottom: none;
  padding: 8px 0px;
  font-size: 14px;
  color: #0a0a0a;
}

.menuleft-icon {
  padding-right: 8px;
}



#button-btt {
  position: fixed;
  right: 10px;
  bottom: 70px;
  color: #0059bd;
  background: #ccc;
  padding: 10px;
  opacity: 0.8;
  z-index: 10;
}

#button-btt a {
  color: #fff;
}

.view-detail {
  display: block;
  color: #fff;
  background: #244294;
  padding: 10px 30px;
  box-shadow: 0px 0px 3px #999;
  float: left;
}





.menutab {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 2px solid #e4e4e4;
      
	      padding-bottom: 8px;
}

.menutab-item {

  
  text-align: center;
  background-color: transparent;
  color: #fff;
  
  border: 2px solid transparent;
	position:relative;

}

.menutab-item.active
{
	width:100%;
}
.menutab-item:nth-child(1)
{
padding-left: 0px;
}
.menutab-item a {
  
  font-size: 18px;
line-height: 20px;
text-transform: uppercase;
color: #474747;

transition: all .5s ease-in;
    padding: 15px 15px;
position:relative;

}
.menutab-item a:before
{
	content:"";
	width:0%;
	height:1px;
	background:--var(maincolor);
	position:absolute;
	bottom:0px;
	left:0px;
	
}

.menutab-item.actived a:before
{
	content:"";
	width:100%;
	height:1px;
	background:--var(maincolor);
	position:absolute;
	bottom:0px;
	left:0px;
	
}



.tab-item:last-child {
  border-right: none;
}

.menutab-item:hover :before {
	width:100%
}
.menutab-item a:hover :before
.menutab .actived :before {
	width:100%

}

.tab-bar {
  /* background: #e1e1e1; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-bar-wrapper {
  padding-right: 40px;
}

.tab-title {
  margin: 0px;
  
  font-size: 16px;
  color: #484848;
  text-transform: uppercase;
  padding:10px 20px;
  display: block;
  float: left;
  margin-right: 2px;
  border: 1px solid #d0d0d0;
  border-bottom: none;
}
.tab-content
{
  border: 1px solid #f0d0d0;
  padding: 20px;
}

.tab-active {
  position: relative;
 background-color: #f1f2f2;
 border-top: 1px solid var(--maincolor);
} 

 .tab-active::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -1px;
  height: 1px;
  background: #FFF;
  left: 0;
} 

/* .tab-bar::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #176078;
  border: solid 1px #176078;

} */
#tabs-nav
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px;
}
#tabs-nav li{

  list-style: none;
  text-align: center;
  color: var(--subcolor);
  margin: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #FFF;
}
#tabs-nav li.active a{
  color: var(--subcolor);
 font-family: var(--fontmain);

}


/*Modal*/
.blocker
{
	z-index:111!important;
}
.modal
{
	    max-width: 100%!important;
    padding: 0px!important;
	border-radius:20px!important;
}
.modal a.close-modal, .modal-close
{
	opacity:0;
	display:none;
}
.modal-overlay {
  opacity: 0;
 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 112;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6) !important;
}
.modal-box {
  display: none;
  position: fixed;
  z-index: 113;
  width: 100%;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  max-width: 1000px;
  background: #fff;
  height: 100%;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0px);
}
.modal-body
{
  padding: 10px 20px;
  /* position: absolute; */

  /* width: 60%;
  height: 100%;
  z-index: 1111;
  background: #FFF;
  display: none;
  min-width: 400px;
  min-height: 400px;
  top: 0px;
  left: 50%;

  transform: translate(-50%); */
}
.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5px;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 {
  margin: 0;
}

.modal-box .modal-body {
  padding: 10px 20px;
}

.modal-box footer,
.modal-box .modal-footer {
  padding: 1px;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
  padding: 8px;
}

a.close {
  line-height: 1;
  font-size: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

.msgbox {
  color: #ccc;
}
.img-hvr
{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.img-hvr img{
  transition: all .5s ease;
}
.img-hvr:hover img{
  transform: scale(1.05);
}
.img-shine {
  position: relative;
  overflow: hidden;
  display: block;
}

.img-shine:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* Hover state - trigger effect */
.img-shine:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}
.error {
  border: solid 1px red!important;
}

.btn {
  padding: 8px 15px;
  color: #222;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  transition: background-color 1s ease;
 
}

.btn:hover {
  background-color: #ff7e00;
  color: #fff;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  transition: background-color 1s ease;
}
/* Active state */
.img-shine:active:after {
  opacity: 0;
}


.menu-mobile {
  display: block;
  float: right;
  color: #000;
  font-size: 30px;
  margin-left: auto;
}

.menu-mobile-item {
  display: block;
  float: left;
  margin-top: 5px;
  color: #fff;
  margin-left: 10px;
}

#simplePagerNav {
  display: flex;
  justify-content: center;
} 

.pagination {
  margin-bottom: 30px;
 display:flex;
 justify-content:center;
}
.page {
  display: none;
}
.pagination-item {
      text-decoration: none;
    color: #0a0a0a;
    font-size: 18px;
    
    display: inline-block;
    min-width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #FFF;
    margin: 0 5px;
    border: 2px solid #b3b3b3;
  
}


.pagination-item__clicked {
  text-decoration: none;
    color: #fff;
    font-size: 18px;
    
    display: inline-block;
    min-width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color:var(--maincolor);
    margin: 0 5px;
    border: 2px solid #b3b3b3;
  
}

.pagination-item-icon {
  font-size: 20px;
  
  color: #176078;
}




.ullist {
  height: 450px;
  overflow-y: scroll;
}

.ullist li h3 {
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
  color: #244294;
  font-size: 16px;
}

.ullist li p {
  margin: 0px;
  padding: 5px 0px;
}

.ullist li {
  border-bottom: dashed 1px #ddd;
}

.ullist li .fa {
  display: block;
  float: left;
  width: 18px;
  margin-top: 2px;
}

#loadMoreProduct {
  display: block;
  background: #ddd;
  color: #244294;
  padding: 10px 20px;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  width: 220px;
}


.form-title {
  font-family: var(--fontmain);
  font-size: 24px;
  font-weight: normal;

  text-align: center;
  width: 100%;
}


.sendmail__btn {
  background:var(--maincolor);
  text-align: center;
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #FFF;
  text-transform: uppercase;
  display: block;
  font-size: 18px;
      height: 50px;
}



::placeholder {
  color: #9d9d9d;
  opacity: 1;
  /* Firefox */
}


.view-more {
  font-weight: normal;
  display: inline-block;
  color: #fff;
  font-size: 14px;

  margin-top: 25px;
  background-color: #1d509b;
  padding: 10px 20px;
}
.line{
	border-bottom:1px solid #037c94;
}


.line-w {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.line-w span {
  display: inline-block;
  margin-right: 5px;
  background: var(--subcolor);
  background-repeat: no-repeat;
  background-size: 90% 90%;
  width: 100px;
  height: 3px;
  margin-top: 10px;
}

.line-w span:last-child {
  margin-right: 0;
}


.Tocct {
       border: 1px solidvar(--maincolor);
    margin-top: 30px;
    border-radius: 25px;
    max-width: 100%;
    padding: 25px;
    position: relative;
}
.longPageTOC {
    font-size: 20px;
    background: #fff;
    
    text-transform: uppercase;
}
.TOCShowHide.hideTOC {
    position: absolute;
    right: 15px;
    top: 5px;
    color: #00b8ce;
}
.longPageNavigationDiv {
  padding: 10px;
 
  
  
  padding-right: 20px;
  width: 100%;
}

.longPageNavigationDiv a {
  color: #0a0a0a;
}

.longPageNavigationDiv ul {
  padding-left: 20px;
}

.longPageNavigationDiv ul li {
  list-style: none;
  padding: 2px 0px;
}

.longPageNavigationDiv ul .toc-heading3 {
  padding-left: 20px;
}

.form-group {
  padding: 10px 0px;
  border-bottom: dotted 1px #ccc;
}
.btndangnhap
{
  background-color:var(--maincolor);
color:#FFF;
padding: 8px 15px;
border-radius: 3px;
font-size: 18px;
}


.header{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 20;
  background-color: #FFF;
}
.header.header-fixed{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 20;
  background-color: #FFF;
}
.header-fixed .topheader{
  display: none;
}
/* home */
  .slidehome{
    position: relative;
 
  }
  .slidehome img{
    max-height: 90vh;
  } 
  .slidehome-content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    height: auto;
    color: #303030;
 
    font-size: 20px;
    color: #FFF;
    max-width: 900px;
    text-align: center;

  }
  .slidehome-intro
  {
    font-size: 16px;
  }
  .slidehome-item
  {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    font-size: 16px;
  }
  .slidehome-item img
  {
    width: 60px;
  }
  .slidehome-box
  {
    width: calc(100% - 70px);
  }
  .slidehomeitem-title
  {
    font-size: 18px;
    font-family: var(--fontB);
  }
  .slidehome-subtitle span{
    color: var(--maincolor);
  }
  .slidehome-subtitle
  {
    font-family: var(--fontB);
    font-size: 24px;
  }
  .slisdehome-title
{
  font-size: 35px;
  font-family: var(--fontEB);
  text-transform: uppercase;
}
  .search-form {
    position: relative;
    padding: 30px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 1px 5px 9px #0000002e;
}
.search-mobile-bar {
  float: right;
  width: 200px;
  position: relative;
  margin-right: 10px;
  margin-top: 5px;
}

.search-mobile-bar .kw {
  width: 100%;
  height: 30px;
  border: solid 1px #eee;
  padding: 0px 10px;
  outline: none;
  float: left;
  color: #0a0a0a;
  border-radius: 25px;
  background: #fff;
}

.submit-search-mobile {
  float: right;
  color:var(--maincolor);
  font-size: 14px;
  position: absolute;
  top: 8px;
  right: 25px;
}
.header-mobile {
  background: #fff;
  border-bottom: solid 2px #2c9fcb;
}

.cart-mobile {
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
  width: 40px;
  float: right;
}

.cart-mobile span {
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 11px;
  background: #244294;
  color: #fff;
  display: block;
  padding: 1px 4px;
  border-radius: 50%;
}



.mobile-footer-bar {
  position: fixed;
  bottom: 0px;
  padding: 5px;
  width: 100%;
  background: #fff;
  box-shadow: 0px -1px 3px #244294;
  z-index: 9999;
}

 .btn-all
 {
	 text-align: center;
  padding:10px 25px;



  font-size: 20px;
line-height: 20px;
color: #030303;
border:1px solidvar(--maincolor);


 }

.slidehome-content h1{
  font-size: 38px;
  text-transform: uppercase;
  color:var(--maincolor);
  
  font-family: var(--fontmain);
}

.search-form input::placeholder
{
  color: #909090;
  font-family: var(--fontmain);
  font-size:18px;
  height:50px;
}
.search-form input{
border:none;
outline: none;

margin-bottom: 0px;
padding-left:35px!important;

  font-family: var(--fontmain);

}
.search-form .search-icon--input{
	color:#909090;
}
.search-form select{
  outline: none;
  width: 100%;
  font-family: var(--fontmain);
  
  height: 50px;
  border-radius: 5px;
  border:1px solid #a0a0a0;
  font-size:20px;
}
input:focus-visible, select:focus-visible{
  border:1px solid #a0a0a0
}
.btn-search
{
  background:var(--maincolor);
  color: #FFF;
  width: 100%;
  padding: 12px;
max-width: 200px;
  height: 50px;
  text-align: center;
  font-size:20px;
  line-height: 1.4;
}

 
  .homecat-title{
	font-size: 40px;
	text-transform: uppercase;
  font-family: var(--fontB);
	text-align: left;
    position: relative;
    text-transform: uppercase;
    margin: 0px;
  }
 .subcat-title
 {
  font-size: 30px;
 	
font-family: var(--fontB);

    position: relative;
    text-transform: uppercase;
    margin: 0px;
 }
  .homecat-intro
  {
   
    max-width: 1000px;
  
  }
  .pagecat-title{
    text-align: left;
    color: #282828;
   font-family: var(--fontB);


    position: relative;
    font-size: 24px;

    margin: 0px;
    line-height: 1.3;
  }

  .homecat-title a, .pagecat-title a {
    color: currentColor;
  }
  

.menu-footer {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 10px 0px;
}

.menu-footer a {
  font-size: 13px;
  color: #FFF;
  margin-right: 20px;
  text-decoration: none;
}

.footer {
  background-color: #494949;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  color: #FFF;
}


.footer a {
  color: #FFF;
}
.text-center{
  margin: auto;
  text-align: center;
}

.footer-title .i {
  float: right;
  margin-top: 3px;
  font-size: 14px;
  display: none;
  transition: 0.5s;
  color: #FFF;
}

.footer-block {
  padding-left: 0px;
  margin-top: 20px;
}
.footer-logo
{
  padding: 30px 0px;
}
.footer-block .info
{
 
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    /* margin-bottom: 10px; */
    line-height: 2;
}
.footer-block .info i
{
  margin-right: 10px;
}
.footer-trip a
{
 margin-right: 15px;
}
.footer-social
{
  display: flex;
  align-items: center;
  justify-content: center;

}
.footer-social li{
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin: 10px;
 
}
.menuboxfooter, .menufooter
{
  padding: 0px;
  list-style-type: none;
}
.menuboxfooter li,  .menufooter li{
  margin-bottom: 15px;
  font-size: 16px;
}

.footer-title {
  font-size: 20px;
  color: #FFF;
  
  padding-bottom: 10px;
  font-family: var(--fontB);
}
.menuboxfooter a:hover{
  color: var(--subcolor);
}
.footer-copyright {
  color: #fff;
  font-size: 14px;
  text-align: left;
  line-height: 40px;
  border-top: 1px solidvar(--maincolor);
}
.star-rate{
  background: url(/images/starrate.png) right top no-repeat;
     height: 30px;
  width: 100%;
background-size: auto;
}
.rate1
{
	 background-position-y: -116px;
}
 .rate2{
  background-position-y: -86px;
}
.rate3{
  background-position-y: -58px;
}
.rate4{
  background-position-y: -30px;
}
.rate5{
  background-position-y: 0px;
}
.img-poster
{
  position: relative;
}
.img-poster img {
  display: block;
}
.img-poster .crumb{
  position: absolute;
  width: 100%;
  height: auto;
  left: 50%;
  bottom: 70px;
  text-align: left;
  transform: translate(-50%, 0px);
  background-color: transparent;
}
.img-poster .crumb a, .img-poster .crumb i{
  color: #FFF;
}
.poster-content {
  position: absolute;
  width: 100%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  color: #FFF;
  z-index: 111;

}
.frm-contact input{
	width:100%;
	padding:15px;
	border:1px solid #9c9c9c;
	margin-bottom:30px
}
.frm-contact input.btn-contact
{
	background:var(--maincolor);
	color:#FFF;
	
	text-transform:uppercase
}
.line-title {
    
}
.featured-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.featured-item-img {
  width: 40%;
}
.featured-item-content {
  width: 60%;
  overflow: hidden;
  padding-left: 10px;
  line-height: 1.4;
}
.featured-item-name
{
  
}
.featured-item-img img{
  border-radius: 5px;
}
.slide-btn-next
{
    position: absolute;
    right: -15px;
    top: 50%;
    width: 45px;
    height: 45px;
    transform: translate(0px,-50%);
    line-height: 45px;
    border: 1px solid #FFF;
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    z-index: 2;
    color: #FFF;
    transition: all .5s ease-in-out;
}
.slide-btn-prev
{
    position: absolute;
    left: -5px;
    top: 50%;
    width: 45px;
    height: 45px;
    transform: translate(0px,-50%);
    line-height: 45px;
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 50%;
    text-align: center;
    color: #FFF;
    z-index: 2;
    transition: all .5s ease-in-out;
}
/* home */

.homenews
{
  position: relative;
}
.ux-shape-divider {
  width: 100%;
  z-index: 1;
  position: relative;
  background: #ff000000;
  margin-top: -100px;
}
.ux-shape-divider svg {
  display: block;
  height: 100px;
  /* left: 50%; */
  position: relative;
  /* transform: translateX(-50%); */
  height: 100px;
  width: 100%;
  --divider-width: 100%;
  background-color: transparent;
}
.ux-shape-divider .ux-shape-fill {
  fill: #fff;
}
.topheader
{
  background-color: #f1f2f2;
  font-family: var(--fontB);
}
.topheader-right
{
  display: flex;
  align-items: center;
  justify-content: flex-end;

}
.select-city  
{
  position: relative;
  padding: 10px;
  margin: 0px 15px;
  font-family: var(--fontmain);
 
}
.select-city:hover ul {
  display: block;
}
.select-city ul{
  list-style-type: none;
  position: absolute;
  left: 0px;
  width: 220px;
  z-index: 12;
  display: none;
  top: 100%;
  background-color: #FFF;
  padding: 15px;
  box-shadow: 0px 0px 7px 0px #5c5c5c;
  border-radius: 5px;
}
.select-city ul li{
  padding: 10px;
  transition: all .5s ease-in;
}
.select-city ul li:hover{
  background-color: #f1f2f2;
  color: #0a0a0a;
}
.tripreivew-title
{
  font-size: 30px;
  font-family: var(--fontB);
}
.morecontent span {
  display: none;
}
.morelink {
  display: block;
}
.review-image img
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.reviewname-box
{
  width: calc(100% - 100px);
  text-align: left;
  padding:0px 10px;
}
.review-logotrip
{
  width: 40px;
}
.tripreview-item
{
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #9d9d9d;
}
.date-review
{
  color: var(--subcolortext);
  font-size: 12px;
}
.morelink
{
  font-size: 14px;
  color: var(--subcolortext);
}
.tripreview, .videoreview 
{
  position: relative;
}
.tripreview-button-prev
{
  left: -45px;
  color: var(--subcolortext);
}
.tripreview-button-next
{
  right: -45px;
  color: var(--subcolortext);
}
.videoreview-image
{
  position: relative;
}
.videoreview-play
{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #FFF;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  background-color: #02020233;
  transition:all .5s ease;
}
.videoreview-item:hover .videoreview-play
{
  background-color: transparent;
}
.videoreview-box
{
  padding: 10px 15px;
  font-family: var(--fontB);
}

.videoreview-image img{
  border-radius: 5px 5px 0px 0px;
}
.videoreview-item
{
  border: 1px solid #f1f2f2;
  border-radius: 5px;
}
.videoreview-button-next
{
  right: 30px;
  opacity: 0;
  transition:all .5s ease;
}
.videoreview-button-prev
{
  left: 30px;
  opacity: 0;
  transition:all .5s ease;
}
.videoreview:hover .videoreview-button-next, 
.videoreview:hover .videoreview-button-prev
{
opacity: 1;
}
.btn-xemthem a{
  border-radius: 20px;
  border: 2px solid var(--maincolor);
  background-color: #FFF;
  color: var(--maincolor);
  text-transform: uppercase;
  font-family: var(--fontB);
  padding: 7px 20px;
  transition: all .5s ease;
}
.btn-xemthem a:hover
{
  color: #FFF;
  background-color: var(--maincolor);
}
.hometourstyle-wrapper
{
  background-size: auto;
  background-position: center center;
  color: #FFF;
  text-align: center;
  background-color: var(--maincolor);
  /* background-image: url(/uploaded/pic-cat/bg-hometailieu.png); */
}
.hometourstyle-wrapper .homecat-title{
  color: #FFF;
}
.hometourstyle
{
  position: relative;
}
.title-small
{
  font-family: var(--fontB);
}
.hometourstyle-item, 
.visittour-item, 
.hometourduration-item
{
  position: relative;
}
.hometourstyle-item::before,
.visittour-item::before,
.hometourduration-item::before{
  width: 100%;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(0deg, #000000ad, transparent);
  height: 100%;
  z-index: 1;
}
.hometourstyle-name,
.visittour-name,
.hometourduration-name
{
  position: absolute;
  text-transform: uppercase;
  bottom: 0px;
  left: 0px;
  font-family: var(--fontB);
  font-size: 18px;
  padding: 10px 15px; 
  text-align: center;
  z-index: 2;
}
.hometourstyle-image,
.visittour-image,
.hometourduration-image
{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.hometourstyle-image img,
.visittour-image img,
.hometourduration-image img
{
  width: 100%;
  height: 100%;
  max-height: 370px;
  transition: all .5s ease-in-out;
  border-radius: 5px;
}
.hometourstyle-item:hover img,
.visittour-item:hover img,
.hometourduration-item:hover img
{
  transform: scale(1.05);
  border-radius: 5px;
}
.tourpakages-name
{
  font-family: var(--fontB);
  font-size: 16px;
  line-height: 1.3;
  height: 45px;
  transition: all .5s ease;
}
.tourpakages-tag
{
  color:var(--maincolor);
}
.tourpakages-box
{
  padding: 10px
}
.tourpakages-item
{
  margin-bottom: 30px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}
.tour-price span
{
  font-size: 16px;
  color: var(--maincolor);
  font-family: var(--fontB);
}
.tourpakages-item:hover .tourpakages-name
{
  color: var(--maincolor);
}
.hometourduration-name
{
  color: #FFF;
}
.hometourduration
{
  position: relative;
}
.hometourduration-button-next
{
  right: 15px;
  display: none;
}
.hometourduration-button-prev
{
  left: 15px;
  display: none;
}
.hometourduration:hover .hometourduration-button-next,
.hometourduration:hover .hometourduration-button-prev
{
  display: block;
}
.homeinfo-item
{
  position: relative;
  margin-bottom: 30px;
}

.homeinfo-name
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  text-transform: uppercase;
  font-size: 24px;
  font-family: var(--fontB);
  z-index: 12;
}

.homemake-video {

  width: 70px;
  height: 70px;
  background: transparent;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  margin: auto;
  transition: all 0.5s ease-in-out;
  border: 2px solid #959595;
  background-color: #FFF;
  color: #959595;
  font-size: 30px;
  z-index: 14;
}
.homemake-video:hover 
{
  border-color: var(--maincolor);
  background-color: var(--maincolor);
  color: #FFF;
}
.homemake-item img{
  max-width: 90px;
}
.homemake-name
{
  font-family: var(--fontB);
}
.homemake-item 
{
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}
.btn-customsize a
{
  padding: 10px 15px;
  color: #FFF;
  border-radius: 20px;
  font-family: var(--fontB);
  font-size: 18px;
  text-transform: uppercase;
  background-color: var(--maincolor);
}
.booking-left
{
  font-size: 18px;
  border-right: 1px solid #f3f3f3;
}
.whatsapp 
{
  color: var(--maincolor);
  font-family: var(--fontB);
}
.booking-wrapper
{
  border-top: 1px solid #f3f3f3;
}
.rating-gg
{
  display: flex;
  padding:20px;
  border: 1px solid #f3f3f3;
  justify-content: center;
  align-items: center;
  max-width: 270px;
  margin: auto;
  font-family: var(--fontB);
}
.rating-gg img{
  width: 80px;
  margin-left: 10px;
}
.ui-shap-footer,.ui-shap-tourstyle
{
  transform: rotate(180deg);
  margin-top: 0px;
}
.ui-shap-tourstyle_end
{
  margin-top: 0px;
}
.homenews-item
{
  border: 1px solid #f1f2f2;
  background-color: #FFF;
}
.homenews-name
{
  padding: 10px;
  font-size: 18px;
  text-align: center;
  font-family: var(--fontB);
}
.filter-tour
{
  position: absolute;
  left: 0px;
  bottom: 40px;
  z-index: 11;
  width: 100%;
  color: #FFF;
  font-size: 20px;
  font-family: var(--fontB);
}
.modal-filter.modal-box {
  left: 0px;
  transform: translate(0px);
  max-width: 300px;
  border-radius: 0px;
  height: 100%;
  overflow-y: auto;

}
.title-filter {
  padding: 10px 0px;
  
  font-family: var(--fontB);
}
.checkbox-item {

  margin-bottom: 10px;
}
.checkbox-item label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
input[type="checkbox"] {
  display: none;
}
input {
  outline: none;
}
.checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  border-radius: 4px;
  border: 2px solid #919191;
  transition: all 0.3s ease;
  background-color: transparent;
}
input[type="checkbox"]:checked + .checkbox::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 40%;
  width: 5px;
  height: 12px;
  border: solid #FFF;
  border-width: 0 2px 2px 0;
  transform: rotateZ(45deg);
  animation: check .4s ease forwards;
}
input[type="checkbox"]:checked + .checkbox {
  border-color: #FFF;
  background-color: var(--maincolor);
}

.tourintro {
  float: left;

}
.tourintro .tourintro-full {
  height: 120px;
  overflow: hidden;
}
.tourintro .tourintro-full h1 {
  font-size: 1.4em;
  color: #466caf;
}
.tourintro #readmore {
  width: 100px;
  margin: auto;
  font-family: va;
  font-family: var(--fontB);
  color: var(--maincolor);
}
.tourintro #readmore:after {
  content: "\f0d7";
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  padding-left: 10px;
}
#readmore.colapse::after {
  content: "\f0d8";
  padding-top: 3px;
}
.tourintro #readmore:hover {
 
}
.price-tour span
{
  font-size: 30px;
  font-family: var(--fontB);
}
.poster-tour::before{
position: absolute;
content: "";
width: 100%;
height: 100%;
left: 0px;
background-color: #000;
opacity: .2;
top: 0px;
}
.tour-name
{
  font-family: var(--fontB);
  font-size: 30px;
}
.tour-info
{
  display: flex;
  justify-content: center;
  list-style: none;
}
.tour-info li{
  width: 120px;
}
.tour-info i{
  font-size: 30px;
}
.btn-booktour a
{
  padding: 10px 35px;
  color: #FFF;
  font-family: var(--fontB);
  border-radius: 20px;
  background-color: var(--maincolor);
  border: 1px solid var(--maincolor);
  transition: all .5s ease;
}
.btn-booktour a:hover{
  background-color: #FFF;
  color: var(--maincolor);
  
}
.box-padleft
{
  padding-left: 30px;
}
.info-tour ul{
  list-style: none;
  
}
.info-tour li::before
{
  content: "\f058";
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  padding-right: 5px;
  color: var(--maincolor);
}
.info-tour li{
  position: relative;
  margin-bottom: 10px;
}
.slider-infotour img{
  max-height: 500px;
}
.infotour-button-prev
{
  background-color: #00000063;
  left: 2px;


}
.infotour-button-next{
  background-color: #00000063;
  right: 2px;
}
.slide-infotour
{
  position: relative;
}
.swiper-pagination-bullet {
  border: 1px solid var(--maincolor)!important;
  background: transparent;
  opacity: 1;
  width: 10px!important;
  height: 10px!important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active
{
  background-color: #FFF;
}
.visittour-wrapper
{
  background-color: var(--maincolor);
  color: #FFF;
}
.text-upper 
{
  text-transform: uppercase;
}
.visittour-wrapper .pagecat-title{
  color: #FFF;
}
.visittour-name
{
  text-transform: inherit;
  font-family: var(--fontmain);
  text-align: center;
}
.faq-item {
  color: #333;
 
  border-color: #ddd;
  padding: 5px 15px;
  border-top: 1px solid #ddd;
}
.faq-active .name-faq {
  color: var(--maincolor);
}
.name-faq {
  text-decoration: none;

  font-family: var(--fontB);
  font-weight: normal;
  padding-left: 25px;
  display: block;
  position: relative;
  font-size: 16px;
}
.name-faq::before {
  content: "+";
  font-weight: bold;
  font-size: 21px;
  position: absolute;
  top: -3px;
  left: 0;
  transition: ease .5s;
}
.faqcontent {
  display: none;
  padding: 10px 30px;
  background-color: #FFF;

}
.faq-active .name-faq::before {
  content: "-";
  transition: ease .5s;
}
.faq-active {
  border-top: 1px solid var(--maincolor);
  background: #ddd;
}
.itinerary-note
{
  padding: 10px 15px;
  background-color: #ededed;
  border-radius: 5px;
  font-size: 16px;
}
.tabtour .tab-bar{
  align-items: center;
  justify-content: center;
}
.tourservice ul,  
.whyus_dttour ul{
  padding-left: 10px;
  list-style: none;
  
}
.tourservice ul li,  
.whyus_dttour ul li{
  margin-bottom: 10px;
}
.tab-inclusion li::before,  .whyus_dttour li::before
{
  content: "\f058";
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  padding-right: 5px;
  color: var(--maincolor);
}
.tabtour p,
.tabtour i,
.tabtour ul
{
  margin-bottom: 10px;
}
.tabtour h4
{
  font-size: 18px;
}
.tab-exclusion li::before
{
  content: "\f057";
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  padding-right: 5px;
  color: var(--maincolor);
}
.inquiretour
{
  padding: 30px;
  background-color: #f1f2f2;
}

.line-form input, 
.line-form textarea, 
.line-form select
{
  width: 100%;
  padding: 10px;
  border: 1px solid #9d9d9d;
  margin-bottom: 20px;
  font-family: var(--fontmain);
  outline: none;
  border-radius: 5px;
}

select {
  color: #9d9d9d;
}

option {
  color: var(--textcolor);
}

option[default] {
   display: none;
}
.radio-form
{
  width: 50%;
  display: flex;
  align-items: center;
}
.radio-form input{
  width: 40px;
  margin: 0px;
}
.title-input
{
  margin-bottom: 10px;
}
.btn-send{
  background-color: var(--maincolor);
  padding: 10px 25px;
  text-transform: uppercase;
  color: #FFF;
  font-family: var(--fontB);
  outline: none;
  border: 1px solid var(--maincolor);
  border-radius: 5px;
  transition: all .5s ease-in;
}
.btn-send:hover{
  color: var(--maincolor);
  background-color: #FFF;
}
/* .tourreview .tripreview-item
{
  margin-bottom: 30px;
} */
 .dttourleft
 {
  padding: 15px 0px;
  background: #f2f2f2;
 }
 .dttourleft-title
 {
  padding: 0px 10px;
 }
 .dttourleft-title span{
  font-size: 20px;
 }
 .dttourleft table{
  text-align: center;
  width: 100%;
 }
 .dttourleft th:nth-child(1), 
 .dttourleft td:nth-child(1)
 {
  width: 40%;
 }
 .dttourleft th:nth-child(2), 
 .dttourleft td:nth-child(2)
 {
  width: 60%;
 }
 .dttourleft th
 {
  border: none;
  padding: 10px;
  color: #FFF;
  text-transform: uppercase;
  background-color: var(--maincolor);
 }
 .dttourleft td
 {
  font-family: var(--fontB);
  padding: 10px;
 }
 .dttourleft tr{
  border-bottom: 1px solid #9d9d9d;
 }
 .btn-tour-price
 {
  color: var(--maincolor);
 }
 .whyus_dttour
 {
  background: #F1f2f2f2;
  padding: 0px 15px;
 }
 
.whyus_dttour .pagecat-title{
  font-size: 18px;
}
.count-number
{
  font-size: 60px;
  color: #000;
  padding-bottom: 20px;
  font-family: var(--fontB);
}
.infonumber-item 
{
  padding: 10px;
  border-right: 1px solid #d8d8d8;
}
.infonumber-item:nth-last-child(1)
{
  border: none;
}
.info_offer-wrapper
{
  color: #fff;
  background-color: var(--maincolor);
}
.btn-plan a, 
.btn-viewall a:hover
{
  padding: 10px 25px;
  border-radius: 25px;
  color: #333;
  margin-right: 20px;
  font-family: var(--fontB);
  text-transform: uppercase;
  border: 1px solid #FFF;
  background-color: #FFF;
  transition: all .5s ease-in-out;
}
.btn-viewall a,
 .btn-plan a:hover 
{
  padding: 10px 25px;
  border-radius: 25px;
  color: #FFF;
  background-color: var(--maincolor);
  margin-right: 20px;
  font-family: var(--fontB);
  text-transform: uppercase;
  border: 1px solid #FFF;
  transition: all .5s ease-in-out;
  
}
.infoleader-img img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
}
.infoleader-item
{
  text-align: center;
 
  margin-bottom: 30px;
  text-transform: uppercase;
}
.infoleader-name
{
  font-size: 18px;
  font-family: var(--fontB);
}
