
<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"  xml:lang="vi">
    <head>

        <meta charset="utf-8"/>
        <title>Công nghiệp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes"/>
        
        <meta name="theme-color" content="#0099ff"/>
        <meta http-equiv="Content-Language" content="VN" />
        <meta name="description" content="Website chính thức của Công ty Cổ phần Tự động hóa ETEK - Công ty Tự động hóa tổng thể hàng đầu Việt Nam." />
        <meta name="keywords" content="etek, công ty etek, tự động hóa etek, công ty cổ phần giải pháp tự động hóa etek, etek automation sulutions, giải pháp tự động hóa tổng thể, công ty tự động hóa" />
        <meta property="og:url" name="og:url" content="https://etek.com.vn/cong-nghiep/" data-app/>
        <meta property="og:type" name="og:type" content="website" data-app/>
        <meta property="og:description" name="og:description" content="Website chính thức của Công ty Cổ phần Tự động hóa ETEK - Công ty Tự động hóa tổng thể hàng đầu Việt Nam." data-app/>
        <meta property="og:title" name="og:title" content="Công nghiệp" data-app/>

        <meta property="og:image" name="og:image" content="https://etek.com.vn/uploaded/dichvu/cong-nghiep.jpg" data-app>
        <meta property="og:image:alt" name="og:image:alt" content="https://etek.com.vn/uploaded/dichvu/cong-nghiep.jpg" data-app>
        

        <link href="/favicon.ico" rel="shortcut icon" />

        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/grid.css"/>
        <link rel="stylesheet" type="text/css" href="/css/responsive.css" />        
        <link rel="stylesheet" type="text/css" href="/css/font.css"/>

        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap" rel="stylesheet"/>        
		
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		 <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>           
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.css"/>

		<script src="/js/script.js"></script>


		





        <meta name="google-site-verification" content="gbEoxVzjsQMwFc-Ksr2bd6eAY9XrchwAj5xRmd7MxM4" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MQ2H7DPBSH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MQ2H7DPBSH');
</script>

        


    </head>
    <body>

        


        <div id="page">

            <header class="header hide-on-pad hide-on-tab">
                <div class="grid">

                    <div class="flex-container align-center">
                        <div class="cell-1-5">
                            <div class="logo">
                                <a href="/"><img src="/uploaded/doitac/Doi-tac-chien-luoc/logo-2.png" alt="LogoSite" style="max-width:100%; margin:0 auto"  /></a>
                            </div>
                        </div>
                        <div class="cell-4-5">
                            <div class="menubar">
                                <ul class="nav  hide-on-tab hide-on-mobile">

    <li > <a href="/" class=""> <i class="fas fa-home"></i> </a>


    <li class=" " style=" " > <a href="/gioi-thieu/"  class="">Giới thiệu </a>

        <ul class="">
            <li class=""><a href="/gioi-thieu/#-gioi-thieu-chung" >Giới thiệu chung</a>
            </li>
            <li class=""><a href="/doi-ngu-lanh-dao/" >Đội ngũ lãnh đạo</a>
            </li>
            <li class=""><a href="/lich-su-phat-trien/" >Lịch sử phát triển</a>
            </li>
            <li class=""><a href="/gioi-thieu/#gia-tri-cot-loi" >Giá trị cốt lõi</a>
            </li>
            <li class=""><a href="/gioi-thieu/#tam-nhin" >Tầm nhìn sứ mệnh</a>
            </li>
            <li class=""><a href="/khach-hang/" >Khách hàng</a>
                <ul>
                    <li class=""><a href="/khach-hang-mang-cong-nghiep/" >Nhà máy sản xuất</a> </li>
                    <li class=""><a href="/doi-tac-mang-cong-nghiep/" >Trường Đại học, Cao đẳng và dạy nghề</a> </li>
                    <li class=""><a href="/khach-hang-mang-dao-tao/" >Chủ đầu tư bất động sản, tòa nhà</a> </li>
                </ul>
            </li>
            <li class=""><a href="/doi-tac/" >Đối tác</a>
                <ul>
                    <li class=""><a href="/doi-tac-chien-luoc/" >Đối tác chiến lược</a> </li>
                </ul>
            </li>
        </ul>




    </li>

    <li class="active " style=" " > <a href="/linh-vuc-kinh-doanh/"  class="">Lĩnh vực kinh doanh </a>

        <ul class="">
            <li class="active"><a href="/cong-nghiep/" >Công nghiệp</a>
            </li>
            <li class=""><a href="/giao-duc-va-day-nghe/" >Thiết bị đào tạo chuyên ngành</a>
            </li>
            <li class=""><a href="/dan-sinh/" >Dân sinh</a>
            </li>
            <li class=""><a href="/he-sinh-thai-tan-phat-etek/" >Hệ sinh thái Tân Phát ETEK</a>
            </li>
        </ul>




    </li>

    <li class=" " style=" " > <a href="/cau-chuyen-thanh-cong/"  class="">Câu chuyện thành công </a>

        <ul class="">
            <li class=""><a href="/lap-rap/" >Lắp ráp</a>
            </li>
            <li class=""><a href="/che-tao/" >Chế tạo</a>
            </li>
            <li class=""><a href="/dong-goi/" >Đóng gói</a>
            </li>
            <li class=""><a href="/day-nghe/" >Dạy nghề</a>
            </li>
            <li class=""><a href="/he-thong-do-xe/" >Hệ thống đỗ xe</a>
            </li>
            <li class=""><a href="/may-ban-hang-tu-dong/" >Teklife</a>
            </li>
            <li class=""><a href="/intralogistic/" >Intralogistic</a>
            </li>
        </ul>




    </li>

    <li class=" " style=" " > <a href="/su-kien/"  class="">Sự kiện </a>

        <ul class="">
            <li class=""><a href="/su-kien-dang-dien-ra/" >Sự kiện đang diễn ra</a>
            </li>
            <li class=""><a href="/su-kien-chuyen-nganh/" >Sự kiện chuyên ngành</a>
            </li>
        </ul>




    </li>

    <li class=" " style=" " > <a href="/tin-tuc/"  class="">Tin tức </a>

        <ul class="">
            <li class=""><a href="/su-kien/" >Sự kiện</a>
                <ul>
                    <li class=""><a href="/su-kien-dang-dien-ra/" >Sự kiện đang diễn ra</a> </li>
                    <li class=""><a href="/su-kien-chuyen-nganh/" >Sự kiện chuyên ngành</a> </li>
                </ul>
            </li>
            <li class=""><a href="/hoat-dong-hop-tac/" >Hoạt động hợp tác</a>
            </li>
            <li class=""><a href="/van-hoa-doanh-nghiep/" >Văn hóa doanh nghiệp</a>
            </li>
            <li class=""><a href="/san-pham-va-giai-phap/" >Sản phẩm và giải pháp</a>
            </li>
        </ul>




    </li>

    <li class=" " style=" " > <a href="//etek.com.vn/co-hoi-nghe-nghiep/"  class="">Tuyển dụng </a>

        <ul class="">
            <li class=""><a href="/chinh-sach-tuyen-dung/" >Chính sách tuyển dụng</a>
            </li>
            <li class=""><a href="/quy-trinh-tuyen-dung/" >Quy trình tuyển dụng</a>
            </li>
            <li class=""><a href="/co-hoi-nghe-nghiep/" >Cơ hội nghề nghiệp</a>
                <ul>
                    <li class=""><a href="/khoi-kinh-doanh/" >Khối kinh doanh</a> </li>
                    <li class=""><a href="/phat-trien-thi-truong/" >Phát triển thị trường</a> </li>
                    <li class=""><a href="/khoi-thiet-ke-giai-phap/" >Khối Thiết kế giải pháp</a> </li>
                    <li class=""><a href="/khoi-lap-dat-va-bao-hanh/" >Khối Lắp đặt và Bảo hành</a> </li>
                    <li class=""><a href="/khoi-van-phong/" >Khối văn phòng</a> </li>
                </ul>
            </li>
        </ul>




    </li>

    <li class=" " style=" " > <a href="/thu-vien/"  class="">Thư viện </a>

        <ul class="">
            <li class=""><a href="/dowload-tai-lieu/" >Dowload tài liệu</a>
            </li>
            <li class=""><a href="/hinh-anh/" >Hình ảnh</a>
            </li>
            <li class=""><a href="/video/" >Video</a>
            </li>
        </ul>




    </li>

    <li class=" " style=" " > <a href="/lien-he/"  class="">Liên hệ </a>





    </li>


</ul> 


























                                <div class="icon-search">
                                    <i class="fa fa-search search-icon" aria-hidden="true"></i> 
                                    <div class="search-pc" style="display: none;">
                                        <form action="/search/" method="get" id="searchformtab">
                                            <input name="qr" id="qr_search" class="kw-mobile" placeholder="Tìm kiếm" type="text">
                                                <a href="#" class="closeX" onclick="$('.search-pc').hide(); return false;">✕</a>        
                                        </form>
                                    </div>
                                    <script type="text/javascript">

                                        $(".submit-search-pc").click(function () {
                                            if ($("#qr_search").val() != "")
                                                $('#searchformtab').submit();
                                            return false;

                                        });

                                        $(document).ready(function () {
                                            $(".search-icon").click(function () {
                                                $(".search-pc").stop().slideToggle("fast");
                                                return false;
                                            });
                                        });
                                    </script>  	
                                    <div class="c"></div>
                                </div>

                               									  <a href="/en/" class="lang-flag en">  </a>

                            </div>
                        </div>
                    </div>
                    <div class="c"></div>
                </div>
            </header>


            <div class="content" >






<div class="img-poster" style="position:relative">



    <a class="" href="">
        <img src="/uploaded/pic-cat/pic-fas-giaiphap.jpg" alt="" width="100%"/>
    </a>




</div>

<div class="c"></div>
<div class="crumb"><div class="grid"><a href="/"> Trang chủ </a> <i class="fa fa-angle-right"></i> <a href='/linh-vuc-kinh-doanh/'>Lĩnh vực kinh doanh</a>&nbsp;<i class='fa fa-angle-right'></i>&nbsp;<a href='/cong-nghiep/'>Công nghiệp</a></div><div class="c5"></div></div>





<div class="servicedetai-wrapper">
    <div class="servicedetail-content">
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
        <div class="grid">
            <div class="service-cat-content">
                <div class="homecat-title">
                    Công nghiệp
                </div>
                <div class="c30"></div>

                <div style="padding:5px 0px">Tự động h&oacute;a nh&agrave; m&aacute;y hay tự động h&oacute;a c&ocirc;ng nghiệp l&agrave; việc kết nối c&aacute;c thiết bị của nh&agrave; m&aacute;y để n&acirc;ng cao hiệu quả v&agrave; độ tin cậy của hệ thống điều khiển qu&aacute; tr&igrave;nh. Điều n&agrave;y lần lượt dẫn đến chi ph&iacute; thấp hơn, chất lượng được cải thiện, tăng t&iacute;nh linh hoạt v&agrave; &iacute;t t&aacute;c động đến m&ocirc;i trường hơn<br />
Ng&agrave;nh c&ocirc;ng nghiệp chế biến, chế tạo tiếp tục l&agrave; động lực tăng trưởng của nền kinh tế, Etek tự h&agrave;o đồng h&agrave;nh c&ugrave;ng c&aacute;c nh&agrave; m&aacute;y sản xuất tại Việt Nam để ứng dụng c&aacute;c giải ph&aacute;p tự động h&oacute;a nhằm n&acirc;ng cao hiệu quả sản xuất v&agrave; tăng lợi thế cạnh tranh của doanh nghiệp.</div>
                <div class="c10"></div>

            </div>

        </div>
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
    </div>
    <div class="service-list">
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
        <div class="grid">
            
            <div class="service-list-item">
                <div class="flex-container">
                    <div class="cell-1-2 tab-cell-1-1 service-list-img">
					   <a href="/cong-nghiep/giai-phap-lap-rap-tu-dong.html"> 
						
                        <img  src="/temp/-uploaded-gioi-thieu-FAS_Lap-rap_cr_720x360.jpg" alt="Giải pháp lắp ráp tự động " width="100%"/>
						 </a>
						 <div class="fancy-video-service">

							<a data-fancybox="" class="fancybox__link" href="https://www.youtube.com/watch?v=XNKgkboRz2s">
								<img src="/images/youtube-play.png">
							</a>
						</div>
						
						
						
                    </div>
                    <div class="cell-1-2 tab-cell-1-1 service-list-content">
                        <div class="service-list-name">
                            <a href="/cong-nghiep/giai-phap-lap-rap-tu-dong.html">  Giải pháp lắp ráp tự động  </a>
                        </div>
                        <div class="service-list-content">
                            <div style="text-align: justify;">ETEK thiết kế v&agrave; ph&aacute;t triển c&aacute;c giải ph&aacute;p Lắp r&aacute;p tự động tr&ecirc;n c&aacute;c ng&agrave;nh c&ocirc;ng nghiệp như: Sản xuất &ocirc; t&ocirc;, linh kiện; sản xuất điện - điện tử, chế tạo kim loại, mang đến c&aacute;c giải ph&aacute;p về tự động h&oacute;a với c&ocirc;ng nghệ h&agrave;ng đầu, độ tin cậy tốt nhất gi&uacute;p doanh nghiệp của bạn lu&ocirc;n c&oacute; được lợi thế cạnh tranh trong ng&agrave;nh, c&aacute;c sản phẩm được thiết kế v&agrave; lắp đặt ho&agrave;n to&agrave;n bởi c&aacute;c kỹ sư Việt Nam, cam kết đồng h&agrave;nh c&ugrave;ng kh&aacute;ch h&agrave;ng trong suốt qu&aacute; tr&igrave;nh vận h&agrave;nh, sản xuất.</div>
<br />
<a class="btn-xemthem" href="https://etek.com.vn/uploaded/tai-lieu/ETEK.Profile.Assembly.02112023.pdf" target="_blank">Tải catalog</a><a class="btn-xemchitiet" href="https://etek.com.vn/lap-rap/" target="_blank"> Dự &aacute;n ti&ecirc;u biểu</a>
                        </div>
                        <div class="c30"></div>
                     <!--   <a href="#" class="btn-xemthem"> Tải catalog</a>
                        <a href="#" class="btn-xemchitiet"> Dự án tiêu biểu</a>-->
                    </div>
                </div>
            </div>
            <div class="service-list-item">
                <div class="flex-container">
                    <div class="cell-1-2 tab-cell-1-1 service-list-img">
					   <a href="/cong-nghiep/giai-phap-gia-cong-che-tao.html"> 
						
                        <img  src="/temp/-uploaded-gioi-thieu-FAS_che-tao_cr_720x360.jpg" alt="Giải pháp gia công chế tạo" width="100%"/>
						 </a>
						
						
                    </div>
                    <div class="cell-1-2 tab-cell-1-1 service-list-content">
                        <div class="service-list-name">
                            <a href="/cong-nghiep/giai-phap-gia-cong-che-tao.html">  Giải pháp gia công chế tạo </a>
                        </div>
                        <div class="service-list-content">
                            <div style="text-align: justify;">ETEK c&oacute; năng lực hệ thống để cung cấp c&aacute;c giải ph&aacute;p ch&igrave;a kh&oacute;a trao tay trong d&acirc;y chuyền gia c&ocirc;ng chế tạo. C&ugrave;ng với c&aacute;c đối t&aacute;c uy t&iacute;n&nbsp;của m&igrave;nh, ch&uacute;ng t&ocirc;i cung cấp ứng dụng v&agrave; quy tr&igrave;nh chuy&ecirc;n biệt. ETEK lu&ocirc;n c&oacute; thể cung cấp cho bạn giải ph&aacute;p ph&ugrave; hợp để kiểm so&aacute;t c&aacute;c quy tr&igrave;nh v&agrave; từ đ&oacute; n&acirc;ng cao chất lượng, năng suất v&agrave; t&iacute;nh linh hoạt trong sản xuất của bạn.<br />
Tự động h&oacute;a trong ng&agrave;nh chế tạo bao gồm: Kim loại, nhựa v&agrave; c&aacute;c sản phẩm kh&aacute;c gi&uacute;p n&acirc;ng cao năng suất của d&acirc;y chuyền.<br />
<br />
<a class="btn-xemthem" href="https://etekpack.com/" target="“_blank”">Đi đến website</a>

                        </div>
                        <div class="c30"></div>
                     <!--   <a href="#" class="btn-xemthem"> Tải catalog</a>
                        <a href="#" class="btn-xemchitiet"> Dự án tiêu biểu</a>-->
                    </div>
                </div>
            </div>
            </div>
            <div class="service-list-item">
                <div class="flex-container">
                    <div class="cell-1-2 tab-cell-1-1 service-list-img">
					   <a href="/cong-nghiep/giai-phap-dong-goi-tu-dong.html"> 
						
                        <img  src="/temp/-uploaded-gioi-thieu-FAS_dong-goi_cr_720x360.jpg" alt="Giải pháp đóng gói tự động" width="100%"/>
						 </a>
						
						
                    </div>
                    <div class="cell-1-2 tab-cell-1-1 service-list-content">
                        <div class="service-list-name">
                            <a href="/cong-nghiep/giai-phap-dong-goi-tu-dong.html">  Giải pháp đóng gói tự động </a>
                        </div>
                        <div class="service-list-content">
                            <div style="text-align: justify;"><strong>ETEK l&agrave; đơn vị ti&ecirc;n phong cung cấp c&aacute;c giải ph&aacute;p về đ&oacute;ng g&oacute;i tự động.</strong><br />
Ch&uacute;ng t&ocirc;i thiết kế v&agrave; cung cấp cho kh&aacute;ch h&agrave;ng c&aacute;c hệ thống đ&oacute;ng g&oacute;i ho&agrave;n chỉnh, c&aacute;c giải ph&aacute;p tự động h&oacute;a th&iacute;ch hợp với nhu cầu v&agrave; chiến lược của từng nh&agrave; m&aacute;y.<br />
Vừa l&agrave; nh&agrave; cung cấp vừa l&agrave; đối t&aacute;c l&acirc;u d&agrave;i của kh&aacute;ch h&agrave;ng, ch&uacute;ng t&ocirc;i mang đến giải ph&aacute;p với chi ph&iacute; tối ưu từ nguồn sản phẩm đến từ nh&agrave; sản xuất h&agrave;ng đầu trong ng&agrave;nh đ&oacute;ng g&oacute;i tr&ecirc;n thế giới.&nbsp;</div>
<br />
<a class="btn-xemthem" href="https://etekpack.com/" target="“_blank”">Đi đến website</a>
                        </div>
                        <div class="c30"></div>
                     <!--   <a href="#" class="btn-xemthem"> Tải catalog</a>
                        <a href="#" class="btn-xemchitiet"> Dự án tiêu biểu</a>-->
                    </div>
                </div>
            </div>
            <div class="service-list-item">
                <div class="flex-container">
                    <div class="cell-1-2 tab-cell-1-1 service-list-img">
					   <a href="/cong-nghiep/ung-dung-robot.html"> 
						
                        <img  src="/temp/-uploaded-gioi-thieu-FAS_Robotic_cr_720x360.jpg" alt="Ứng dụng Robot" width="100%"/>
						 </a>
						
						
                    </div>
                    <div class="cell-1-2 tab-cell-1-1 service-list-content">
                        <div class="service-list-name">
                            <a href="/cong-nghiep/ung-dung-robot.html">  Ứng dụng Robot </a>
                        </div>
                        <div class="service-list-content">
                            Khi c&ocirc;ng nghệ tiến bộ, Tự động h&oacute;a ứng dụng Robot&nbsp; đang trở th&agrave;nh một c&ocirc;ng cụ ng&agrave;y c&agrave;ng quan trọng trong c&aacute;c ng&agrave;nh c&ocirc;ng nghiệp nhằm n&acirc;ng cao hiệu quả, năng suất v&agrave; an to&agrave;n tại nơi l&agrave;m việc. ETEK tự h&agrave;o ph&aacute;t triển đầy đủ c&aacute;c ứng dụng Robot như: Lắp r&aacute;p, Chế tạo, Đ&oacute;ng g&oacute;i, kết hợp c&ugrave;ng c&aacute;c nh&agrave; sản xuất Robot h&agrave;ng đầu tr&ecirc;n thế giới như ABB, EPSON, Schneider<br />
<br />
<a class="btn-xemthem" href="https://etekrobotics.com.vn/" target="“_blank”">Đi đến website</a>
                        </div>
                        <div class="c30"></div>
                     <!--   <a href="#" class="btn-xemthem"> Tải catalog</a>
                        <a href="#" class="btn-xemchitiet"> Dự án tiêu biểu</a>-->
                    </div>
                </div>
            </div>
            <div class="service-list-item">
                <div class="flex-container">
                    <div class="cell-1-2 tab-cell-1-1 service-list-img">
					   <a href="/cong-nghiep/intralogistic.html"> 
						
                        <img  src="/temp/-uploaded-gioi-thieu-FAS_Intralogistic_cr_720x360.jpg" alt="Intralogistic" width="100%"/>
						 </a>
						
						
                    </div>
                    <div class="cell-1-2 tab-cell-1-1 service-list-content">
                        <div class="service-list-name">
                            <a href="/cong-nghiep/intralogistic.html">  Intralogistic </a>
                        </div>
                        <div class="service-list-content">
                            <div style="text-align: justify;">Cung cấp c&aacute;c giải ph&aacute;p về Intralogistic ho&agrave;n chỉnh bao gồm: Hệ thống vận chuyển v&agrave; n&acirc;ng hạ tự động, Hệ thống kho lưu trữ th&ocirc;ng minh, Hệ thống thiết bị xử l&yacute; vật liệu.</div>
<br />
<a class="btn-xemthem" href="https://etekpack.com/" target="“_blank”">Đi đến website</a>

                        </div>
                        <div class="c30"></div>
                     <!--   <a href="#" class="btn-xemthem"> Tải catalog</a>
                        <a href="#" class="btn-xemchitiet"> Dự án tiêu biểu</a>-->
                    </div>
                </div>
            </div>
            <div class="service-list-item">
                <div class="flex-container">
                    <div class="cell-1-2 tab-cell-1-1 service-list-img">
					   <a href="/cong-nghiep/nha-may-thong-minh.html"> 
						
                        <img  src="/temp/-uploaded-gioi-thieu-FAS_SmartFactory_cr_720x360.jpg" alt="Nhà máy thông minh" width="100%"/>
						 </a>
						
						
                    </div>
                    <div class="cell-1-2 tab-cell-1-1 service-list-content">
                        <div class="service-list-name">
                            <a href="/cong-nghiep/nha-may-thong-minh.html">  Nhà máy thông minh </a>
                        </div>
                        <div class="service-list-content">
                            <div style="text-align: justify;">Đồng h&agrave;nh c&ugrave;ng c&aacute;c nh&agrave; m&aacute;y sản xuất trong việc x&acirc;y dựng tầm&nbsp; nh&igrave;n v&agrave; lộ tr&igrave;nh trong việc ph&aacute;t triển nh&agrave; m&aacute;y th&ocirc;ng minh. C&aacute;c sản phẩm v&agrave; c&ocirc;ng nghệ của ch&uacute;ng t&ocirc;i bao gồm: Hệ thống IOT, hệ thống phần mềm thực tế ảo gi&uacute;p x&aacute;c định t&igrave;nh trạng thiết bị (AOA), hệ thống điều h&agrave;nh v&agrave; thực thi sản xuất (MES).</div>
<br />
<a class="btn-xemthem" href="https://etekpack.com/" target="“_blank”">Đi đến website</a>

                        </div>
                        <div class="c30"></div>
                     <!--   <a href="#" class="btn-xemthem"> Tải catalog</a>
                        <a href="#" class="btn-xemchitiet"> Dự án tiêu biểu</a>-->
                    </div>
                </div>
            </div>
            

        </div>
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
    </div>
</div>




<!--
<div style="background: #1c4d99;">
    <div class="grid" >
        













<ul class="menufooter">
    <li><a href="/cau-chuyen-thanh-cong/">Câu chuyện thành công</a></li>
    <li><a href="/tin-tuc/">Tin tức</a></li>
    <li><a href="/lien-he/">Liên hệ</a></li>
</ul>











    </div>
</div>

<a class="js-open-modal  dang-ky-tu-van hide-on-tab" data-modal-id="popupDangKy" href="#">
    <img src="/images/dang-ky-tu-van.gif" width="150"  > 

</a>

-->




<div class="fixed-video"> 
    <a href="https://vr360.etek.com.vn/etek-360/" target="_blank"> <img src="/images/360deg.png">  </a>
</div>

<div class="c"></div>
<!-- footer -->
<footer class="footer">
    <div class="c30"></div>
    <div class="c20 hide-on-mobile"></div>
    <div class="footer-main">
        <div class="grid">

            <div class="flex-container">
                <div class="cell-1-1">  
                    <img src="/uploaded/logo/logo-white.png" alt="">
                    <span class="company-name"> Công ty Cổ phần Giải pháp Tự động hóa ETEK</span>
                    <div class="c20"></div>
                </div>
                <div class="cell-4-12 tab-cell-1-1">

                    <div class="footer-block">
                        <div class="footer-title footer-title-mobile" rel="ct">
                            TRỤ SỞ CHÍNH 
                        </div>
                        <div class="c5"></div>

                        <div class="footer-text" id="boxcolct">
                            <i class="fa-solid fa-industry"></i> Trụ sở chính Hà Nội: Số 189 Đường Phan Trọng Tuệ, Xã Thanh Liệt, H. Thanh Trì, TP. Hà Nội.
<br>
<i class="fa-solid fa-industry"></i> Chi nhánh Hồ Chí Minh: Số 1 Lê Đức Thọ, Phường Tân Thới Hiệp, Q. 12, Tp Hồ Chí Minh.
<br>
<i class="fa-solid fa-headset"></i> Hotline: +84965 800 166 (Call, Zalo, Whatsap)
<br>
<i class="fa-solid fa-user-tie"></i> Mr Thưởng: +8494 552 5520
<br>
<i class="fa-solid fa-envelope"></i> Email: info@etek.com.vn
                            <div class="c5"></div>
                        </div>		
                        <div class="c10"></div>

                    </div>



                </div>
                <div class="cell-3-12 tab-cell-1-1">
                    <div class="footer-block">

                        




















<div class="footer-title hide-on-tab ">  Lĩnh vực kinh doanh  </div>
<div class="footer-title footer-title-mobile hide-on-pc hide-on-pad " rel="10">  Lĩnh vực kinh doanh </div>

<div class="c5 hide-on-tab"></div>

<ul class="menuboxfooter" id="boxcol10">
    <li><a href="/cong-nghiep/"> <i class="fa fa-angle-right"></i> Công nghiệp</a></li>
    <li><a href="/giao-duc-va-day-nghe/"> <i class="fa fa-angle-right"></i> Thiết bị đào tạo chuyên ngành</a></li>
    <li><a href="/dan-sinh/"> <i class="fa fa-angle-right"></i> Dân sinh</a></li>
    <li><a href="/he-sinh-thai-tan-phat-etek/"> <i class="fa fa-angle-right"></i> Hệ sinh thái Tân Phát ETEK</a></li>
</ul>
<div class="c10"></div>








                    </div>
                </div>
                <div class="cell-2-12 tab-cell-1-1">

                    <div class="footer-block">
                        <div class="footer-title footer-title-mobile" rel="ct">
                            Liên kết nhanh
                        </div>

                        













<ul class="menufooter">
    <li><a href="/cau-chuyen-thanh-cong/">Câu chuyện thành công</a></li>
    <li><a href="/tin-tuc/">Tin tức</a></li>
    <li><a href="/lien-he/">Liên hệ</a></li>
</ul>












                    </div>
                </div>


                <div class="cell-3-12 tab-cell-1-1">
                    <div class="footer-block">
                        <div class="footer-title footer-title-mobile" rel="ct">
                            Fanpage facebook
                        </div>
                        <div class="c5"></div>
                        <div class="fb-page" data-href="https://www.facebook.com/tu.dong.hoa.tan.phat" data-tabs="timeline" data-width="" data-height="80" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/tu.dong.hoa.tan.phat" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/tu.dong.hoa.tan.phat">Facebook</a></blockquote></div>
                    </div>
                </div>


            </div>
            <div class="c30"></div>
            <div class="footer-copyright">
                <div class="flex-container align-center">



                    <div class=""> © Bản quyền thuộc về Etek. All Rights Reserved. </div>


                    <ul class="footer-social">

                        <li class="facebook  hvr-float">
                            <a href="https://www.facebook.com/tu.dong.hoa.tan.phat" class="footer-social__item" target="_blank" rel="nofollow" >
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="youtube  hvr-float">
                            <a href="#" class="footer-social__item" target="_blank" rel="nofollow" >
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li class="instagram  hvr-float">
                            <a href="likedin" class="footer-social__item" target="_blank" rel="nofollow" >
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>




                    </ul>
                </div>

            </div>
            <div class="c30"></div>

        </div>
    </div>

</footer>

<!-- end footer -->


<div id="popupDangKy" class="modal-box">
    <a href="#" class="js-modal-close close btn-close"> [×] </a>
    <div class="modal-body">

        <div class="dangky">

            <div style="padding:20px; border-radius:10px; min-height:320px; ">


                <form action="/index4.php?page=contact&lang=" method="post" id="regform" data-alert="Bạn cần nhập đủ thông tin vào những trường màu đỏ" data-captcha ="Mã captcha không đúng" data-success="Thông tin liên hệ đã được gửi thành công !" data-redirect="/contact-success/" >

                    <input type="hidden"  name="code" value="save" />                

                    <div class="form-title"> Tư vấn </div>
                    <div class="c10"></div>
                    <div class="form-label" style="text-align:center;"><i> Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất </i>  </div>
                    <div class="c10"></div>
                    <div class="c20"></div>

                    <input name="yourname" type="text" class="txt-contact notNull" placeholder="Họ tên (*)" id="yourname"  />
                    <div class="c10"></div>

                    <input name="phone" type="text" class="txt-contact notNull"  placeholder="Điện thoại (*)"  />
                    <div class="c10"></div>
                    <input name="address" type="text" class="txt-contact "  placeholder="Địa chỉ" />
                    <div class="c10"></div>

                    <select name="other_request" type="text" class="txt-contact">
                        <option value=""> Chọn hình thức tư vấn  </option>
                        <option value="Tư vấn mua hàng"> Tư vấn mua hàng </option>
                        <option value="Tìm đại lý, cửa hàng gần nhất">Tìm đại lý, cửa hàng gần nhất </option>

                    </select>
                    <div class="c10"></div>

                    <div style="position:relative;">
                        <input class="newsletter newsletter_b notNull" placeholder="Enter Captcha" name="sercurity"/>
                        <img src="/lib/imagesercurity.php?recaptcha=n" name="imgCaptcha" align="absmiddle" class="imgCaptcha newsletter-capt-img" style="height: 35px; position: absolute; top: 0px; right: 0px; " />

                    </div>


                    <div class="c20"></div>
                    <input name="input" type="button" onClick="$('#regform').submit()" class="btn-send" value="Gửi liên hệ" />
                    <div class="c5"></div>
                    <div class="msgbox" style="font-size: 20px; text-align:center;"> </div>		
                </form>


            </div>

        </div>			


    </div>
</div>	

<script>
    $(function () {

        var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

        $('a[data-modal-id]').click(function (e) {
            e.preventDefault();
            $("body").append(appendthis);
            $(".modal-overlay").fadeTo(500, 0.7);
            var modalBox = $(this).attr('data-modal-id');
            $('#' + modalBox).fadeIn($(this).data());
			
			var subject = $(this).attr('data-subject');
			$("#subject").val(subject);
			$(".subject").html(subject);
			
			
        });

        $(".js-modal-close, .modal-overlay").click(function () {
            $(".modal-box, .modal-overlay").fadeOut(500, function () {
                $(".modal-overlay").remove();
            });
            return false;
        });


    });
</script>


</div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"  />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" ></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"  ></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/4.7.5/js/jquery.mmenu.min.all.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/4.7.5/css/jquery.mmenu.all.min.css"  crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>



<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 <script>
    AOS.init();
  </script>
<div id="button-btt">
    <a href="#"><i class="fa fa-chevron-up"></i> </a>
</div>


<script>
    function check_newsletter() {
        ok = true;
        $('#newsletterForm .error').removeClass('error');
        $('#newsletterForm .notNull').each(function () {
            if ($(this).val() == '') {
                $(this).addClass('error');
                ok = false;
            }
        }
        );
        return ok;
    }

    $(function () {
        $('.countcart').html('(0)');
    });
</script>
















<nav id="menu">

    <ul>

        <li>

            <form action="/search/" method="get" id="m_searchform">
                <input name="qr" class="kw-mobile" placeholder="" type="text">
                <a href="#" class="fa fa-search submit-search-mobile" onClick="$('#m_searchform').submit();
                        return false;"> </a>
            </form>


        </li>

        <li><a class="" href="/gioi-thieu/">Giới thiệu</a>


            <ul>

                <li><a  href="/gioi-thieu/#-gioi-thieu-chung">Giới thiệu chung</a>

                </li>
                <li><a  href="/doi-ngu-lanh-dao/">Đội ngũ lãnh đạo</a>

                </li>
                <li><a  href="/lich-su-phat-trien/">Lịch sử phát triển</a>

                </li>
                <li><a  href="/gioi-thieu/#gia-tri-cot-loi">Giá trị cốt lõi</a>

                </li>
                <li><a  href="/gioi-thieu/#tam-nhin">Tầm nhìn sứ mệnh</a>

                </li>
                <li><a  href="/khach-hang/">Khách hàng</a>
                    <ul>
                        <li><a href="/khach-hang-mang-cong-nghiep/">- Nhà máy sản xuất</a>
                        </li>
                        <li><a href="/doi-tac-mang-cong-nghiep/">- Trường Đại học, Cao đẳng và dạy nghề</a>
                        </li>
                        <li><a href="/khach-hang-mang-dao-tao/">- Chủ đầu tư bất động sản, tòa nhà</a>
                        </li>
                    </ul>

                </li>
                <li><a  href="/doi-tac/">Đối tác</a>
                    <ul>
                        <li><a href="/doi-tac-chien-luoc/">- Đối tác chiến lược</a>
                        </li>
                    </ul>

                </li>

            </ul>


        </li>
        <li><a class="" href="/linh-vuc-kinh-doanh/">Lĩnh vực kinh doanh</a>


            <ul>

                <li><a  href="/cong-nghiep/">Công nghiệp</a>

                </li>
                <li><a  href="/giao-duc-va-day-nghe/">Thiết bị đào tạo chuyên ngành</a>

                </li>
                <li><a  href="/dan-sinh/">Dân sinh</a>

                </li>
                <li><a  href="/he-sinh-thai-tan-phat-etek/">Hệ sinh thái Tân Phát ETEK</a>

                </li>

            </ul>


        </li>
        <li><a class="" href="/cau-chuyen-thanh-cong/">Câu chuyện thành công</a>


            <ul>

                <li><a  href="/lap-rap/">Lắp ráp</a>

                </li>
                <li><a  href="/che-tao/">Chế tạo</a>

                </li>
                <li><a  href="/dong-goi/">Đóng gói</a>

                </li>
                <li><a  href="/day-nghe/">Dạy nghề</a>

                </li>
                <li><a  href="/he-thong-do-xe/">Hệ thống đỗ xe</a>

                </li>
                <li><a  href="/may-ban-hang-tu-dong/">Teklife</a>

                </li>
                <li><a  href="/intralogistic/">Intralogistic</a>

                </li>

            </ul>


        </li>
        <li><a class="" href="/su-kien/">Sự kiện</a>


            <ul>

                <li><a  href="/su-kien-dang-dien-ra/">Sự kiện đang diễn ra</a>

                </li>
                <li><a  href="/su-kien-chuyen-nganh/">Sự kiện chuyên ngành</a>

                </li>

            </ul>


        </li>
        <li><a class="" href="/tin-tuc/">Tin tức</a>


            <ul>

                <li><a  href="/su-kien/">Sự kiện</a>
                    <ul>
                        <li><a href="/su-kien-dang-dien-ra/">- Sự kiện đang diễn ra</a>
                        </li>
                        <li><a href="/su-kien-chuyen-nganh/">- Sự kiện chuyên ngành</a>
                        </li>
                    </ul>

                </li>
                <li><a  href="/hoat-dong-hop-tac/">Hoạt động hợp tác</a>

                </li>
                <li><a  href="/van-hoa-doanh-nghiep/">Văn hóa doanh nghiệp</a>

                </li>
                <li><a  href="/san-pham-va-giai-phap/">Sản phẩm và giải pháp</a>

                </li>

            </ul>


        </li>
        <li><a class="" href="//etek.com.vn/co-hoi-nghe-nghiep/">Tuyển dụng</a>


            <ul>

                <li><a  href="/chinh-sach-tuyen-dung/">Chính sách tuyển dụng</a>

                </li>
                <li><a  href="/quy-trinh-tuyen-dung/">Quy trình tuyển dụng</a>

                </li>
                <li><a  href="/co-hoi-nghe-nghiep/">Cơ hội nghề nghiệp</a>
                    <ul>
                        <li><a href="/khoi-kinh-doanh/">- Khối kinh doanh</a>
                        </li>
                        <li><a href="/phat-trien-thi-truong/">- Phát triển thị trường</a>
                        </li>
                        <li><a href="/khoi-thiet-ke-giai-phap/">- Khối Thiết kế giải pháp</a>
                        </li>
                        <li><a href="/khoi-lap-dat-va-bao-hanh/">- Khối Lắp đặt và Bảo hành</a>
                        </li>
                        <li><a href="/khoi-van-phong/">- Khối văn phòng</a>
                        </li>
                    </ul>

                </li>

            </ul>


        </li>
        <li><a class="" href="/thu-vien/">Thư viện</a>


            <ul>

                <li><a  href="/dowload-tai-lieu/">Dowload tài liệu</a>

                </li>
                <li><a  href="/hinh-anh/">Hình ảnh</a>

                </li>
                <li><a  href="/video/">Video</a>

                </li>

            </ul>


        </li>
        <li><a class="" href="/lien-he/">Liên hệ</a>




        </li>
    </ul>
</nav>
















<!--Share button big
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=648acdfc93018600124e74fc&product=inline-share-buttons&source=platform" async="async"></script>
-->

<!--Share button small-->
<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=648acdfc93018600124e74fc&product=inline-share-buttons' async='async'></script>

<!--
<div class="sharethis-inline-share-buttons"></div>
-->




<link rel="stylesheet" href="/css/widget-call.css" />
<div class="widget_wbt_call_now_widget">
    <div class="float-icon-hotline">
        <ul>
            <li class="hotline_float_icon"><a id="messengerButton" href="tel:0965 800 166"><i class="fa fa-hotline animated infinite tada"></i><span>Hotline: 0965 800 166</span></a></li>
            <li class="hotline_float_icon"><a id="messengerButton" href="//zalo.me/0965 800 166" target="_blank"><i class="fa fa-zalo animated infinite tada"></i><span>Nhắn tin qua Zalo</span></a></li>
            <li class="hotline_float_icon"><a id="messengerButton" href="https://m.me/" target="_blank"><i class="fa fa-messenger animated infinite tada"></i><span>Nhắn tin qua Facebook</span></a></li>

        </ul>
    </div>
</div>



</body>



<!----
☺☺☺ Design by Minh Nguyen. Email nguyensyminh@gmail.com - Hotline : 0968 67 55 68 ☺☺☺
---->

</html>